# Application Ports
SIMPLEGALLERY_HOST_PORT=8081
ADMINER_HOST_PORT=8080

# Database Configuration
DB_NAME=simplegallery
DB_USER=simplegallery
DB_PASSWORD=<another_secure_password_goes_here>
DB_ROOT_PASSWORD=<another_secure_password_goes_here>
