/app/config/database.php
/app/config/proxy.php
/app/config/mail.php

/bootstrap/compiled.php
/vendor
/old
composer.phar
composer.lock
.DS_Store
._.DS_Store
*._*
simplegallery.sublime*
/public/files/*
/public/files/cache/*
/public/preprocessed/*
phpinfo.php

!/public/files/cache
!*.gitkeep

/public/bower
/node_modules
/test
/tests

/data
